<div class="card" style="width: 20rem;">
  <% if client.image.attached? %>
  <%= image_tag client.image.variant(resize: '400x400'), class: 'card-img-top'  %>
  <% else %>
  <%= image_tag "354780.png", :size =>'300x200', class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">Profile</h5>
      <span class="name">
      <p class="card-text"><%= client.last_name %></p>
      <p class="card-text"><%= client.first_name %></p>
      <p class="card-text"><%= client.last_name_kana %></p>
      <p class="card-text"><%= client.first_name_kana %></p>
      <p class="card-text"><%= client.company %></p>
      <p class="card-text"><%= client.prefecture.name %></p>
      <p class="card-text"><%= client.birthday %></p>
      </span>
  </div>
</div>