<div class="card", style="width: 14rem;">
  <div>
  <% if current_user.already_favorited?(client) %>
    <%= link_to client_favorites_path(client), method: :delete do %>
      <i class="fas fa-star"></i>
    <% end %>
  <% else %>
    <%= link_to client_favorites_path(client), method: :post do %>
      <i class="far fa-star"></i>
    <% end %>
  <% end %>
  <%= client.favorites.count %>
  <p class="card-text">作成者: <%= link_to client.user.name, user_path(client.user_id), class: :client_user %></p>
  </div>

  <% if client.image.attached? %>
  <%= image_tag client.image.variant(resize: '300x300'), class: 'card-img-top'  %>
  <% else %>
  <%= image_tag "noimage.png", :size =>'150x190', class: 'card-img-top' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">Profile</h5>
      <span class="name">
      <p class="card-text"><%= client.last_name %> <%= client.first_name %> 様</p>
      <p class="card-text"><%= client.last_name_kana %> <%= client.first_name_kana %> 様</p>
      <p class="card-text"><%= client.company %></p>
      </span>
  </div>
</div>