</div>
   "image挿入予定"
      <span class="name">
      <p><%= client.last_name %></p>
      <p><%= client.first_name %></p>
      <p><%= client.last_name_kana %></p>
      <p><%= client.first_name_kana %></p>
      <p><%= client.company %></p>
      <p><%= client.prefecture.name %></p>
      <p><%= client.birthday %></p>
      </span>
</div>