<%= form_with(model: client, local: true) do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    "image挿入予定"
    <%= f.text_field :last_name, placeholder: "last_name" %>
    <%= f.text_field :first_name, placeholder: "first_name" %>
    <%= f.text_field :last_name_kana, placeholder: "last_name_kana" %>
    <%= f.text_field :first_name_kana, placeholder: "first_name_kana" %>
    <%= f.text_field :company, placeholder: "company" %>
    <div class="field">
      <%= f.label :prefecture_id, "出身地" %>
      <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, {} %>
    </div>
    <%= f.text_field :birthday, placeholder: "birthday" %>
    <%= f.submit "SEND" %>
<% end %>