<div class="contents row">
<% if user_signed_in? && current_user.id == @client.user_id %>
  <div class="container">
    <h3>編集</h3>
    <%= form_with(model: @client, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
     "image挿入予定"
      <%= f.text_field :last_name, placeholder: "last_name" %>
      <%= f.text_field :first_name, placeholder: "first_name" %>
      <%= f.text_field :last_name_kana, placeholder: "last_name_kana" %>
      <%= f.text_field :first_name_kana, placeholder: "first_name_kana" %>
      <%= f.text_field :company, placeholder: "company" %>
      <%= f.text_field :prefecture_id, placeholder: "prefecture_id" %>
      <%= f.text_field :birthday, placeholder: "birthday" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
  <% end %>
</div>