<%= form_with(url: search_clients_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "お客様をカタカナ検索", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
  <% @clients.each do |client| %>
    <% if user_signed_in? && current_user.id == client.user_id %>
      <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to 'お客様詳細', client_path(client.id), method: :get %>
          </li>
          <li>
            <%= link_to 'セルフチェック', client_checks_path(client.id), method: :get %>
          </li>
        </ul>
          <%= render partial: "client", locals: { client: client } %>
      </div>
    <% end %>
  <% end %>
</div>
