<div class="contents row">
<% if user_signed_in? %>
  <% @clients.each do |client| %>
  <div class="more">
      <ul class="more_list">
        <li>
          <%= link_to '詳細', client_path(client.id), method: :get %>
          </li>
        <li>
          <%= link_to '編集', edit_client_path(client.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', client_path(client.id), method: :delete %>
        </li>
      </ul>
  </div>
   "image挿入予定"
      <span class="name">
      <p><%= client.last_name %></p>
      <p><%= client.first_name %></p>
      <p><%= client.last_name_kana %></p>
      <p><%= client.first_name_kana %></p>
      <p><%= client.company %></p>
      <p><%= client.prefecture_id %></p>
      <p><%= client.birthday %></p>
      </span>
    </div>
  <% end %>
  <% end %>
</div>
