<div class="contents row">
  <div class="container">
    <h3>作成</h3>
    <%= form_with(model: @client, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

      <%= f.text_field :last_name, placeholder: "last_name" %>
      <%= f.text_field :first_name, placeholder: "first_name" %>
      <%= f.text_field :last_name_kana, placeholder: "last_name_kana" %>
      <%= f.text_field :first_name_kana, placeholder: "first_name_kana" %>
      <%= f.text_field :company, placeholder: "company" %>
      <%= f.text_field :prefecture_id, placeholder: "prefecture_id" %>
      <%= f.text_field :birthday, placeholder: "birthday" %>
      <%#= f.text_field :image, placeholder: "Image Url" %>
      <%= f.submit "SEND" %>
    <% end %>
  </div>
</div>