<div class="contents row">
  <% if user_signed_in? %>
    <div class="more">
      <ul class="more_list">
      <%= render partial: "client", locals: { client: @client } %>
      <% if user_signed_in? && current_user.id == @client.user.id %>
        <button type="button" class="btn btn-outline-primary">
          <%= link_to '編集', edit_client_path(@client.id), method: :get %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to '削除', client_path(@client.id), method: :delete %>
        </button>
      <% end %>
      </ul>
    </div>
 
  <div class="container">
  <p>出身地: <%= @client.prefecture.name %></p>
  <p>生年月日: <%= @client.birthday %></p>
      <%= form_with(model: [@client, @memo], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "メモする", rows: "2" %>
        <%= form.submit "記録" %>
      <% end %>
    
    <div class="comments">
      <h4>＜メモ一覧＞</h4>
  
        <% @memos.each.with_index(1) do |memo, idx| %>
          <p>
            <strong><%= memo.user.name %>のメモ その<%= idx %>：</strong>
            <%= memo.text %>
          </p>
        <ul class="more_list">
        <% if user_signed_in? && current_user.id == memo.user.id %>
          <i class="fa fa-trash my-blue"></i> 
            <%= link_to 'メモ削除', client_memo_path(memo.client.id, memo.id), method: :delete %>
        <% end %>
        </ul>
        <% end %>
    </div>
    <% else %>
    <header class="bg-primary text-white">
      <div class="container text-center">
        <h1 class="text-dark">Welcome to <%= image_tag 'hands.png' , size: '50x50' %>Re:lations</h1>
          <p class="lead">※※※ カードの作成、メモには新規登録/ログインが必要です ※※※</p>
      </div>
    </header>
    <% end %>
  </div>
</div>