<div class="contents row">
  <% if user_signed_in? && current_user.id == @client.user_id %>
    <div class="more">
      <ul class="more_list">
        <button type="button" class="btn btn-outline-primary">
          <%= link_to '編集', edit_client_path(@client.id), method: :get %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to '削除', client_path(@client.id), method: :delete %>
        </button>
      </ul>
      <%= render partial: "client", locals: { client: @client } %>  
    </div>
 
  <div class="container">
      <%= form_with(model: [@client, @memo], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "メモする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    
    <div class="comments">
      <h4>＜メモ一覧＞</h4>
  
        <% @memos.each.with_index(1) do |memo, idx| %>
          <p>
            <strong><%= memo.user.name %><%= idx %>：</strong>
            <%= memo.text %>
          </p>
        <% end %>
    </div>
    <% else %>
      <strong><p>※※※ カードの作成、メモには新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
</div>