</div>
      <span class="name">
      <p><%= check.title %></p>
      <p><%= check.client.last_name %></p>
      <p><%= check.smile.name %></p>
      <p><%= check.aizuchi.name %></p>
      <p><%= check.empathy.name %></p>
      <p><%= check.reaction.name %></p>
      <p><%= check.question.name %></p>
      </span>
</div>