<!DOCTYPE html>
<html>
  <head>
    <title>Re:lations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('hands.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-dark bg-dark">
        <h2 class="display-5"><a href="/"><i class="far fa-address-card"></i> Re:lations</a></h2>
    <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <i class="fa fa-user my-blue"></i> <%= link_to current_user.name , "/users/#{current_user.id}", class: "user-nickname" %>
            <i class="fa fa-hand-paper my-blue"></i> <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= form_with(url: search_clients_path, local: true, method: :get, class: "search-form") do |form| %>
            <%= form.text_field :keyword, placeholder: "お客様をカタカナ検索", class: "search-input" %>
            <%= form.submit "検索", class: "btn btn-outline-primary my-2 my-sm-0" %>
          <% end %>
          </div>
    <% else %>
          <div class="grid-6">
            <i class="fa fa-hand-pointer my-blue"></i> <%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %>
            <i class="far fa-address-card my-blue"></i> <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            <i class="fa fa-key my-blue"></i> <%= link_to "ログイン", new_user_session_path, class: "post" %>
          </div>
    <% end %>
      </nav>
    <header class="bg-primary text-white">
    <div class="container text-center">
      <p class="lead">社内用 顧客カード 管理アプリ</p>
      <h1 class="text-white">
      <% unless user_signed_in? %>
      Welcome to
      <% end %>
      <i class="far fa-address-card"></i>Re:lations</h1>
      <% unless user_signed_in? %>
      <p class="lead">リレーションズは、「対人関係で、幸せに気がつく」現代のビジネスカードです。</p>
      <% end %>
    </div>
  </header>
    </header>
        <div class='container'>
          <%= yield %>
        </div>
    <% unless user_signed_in? %>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><i class="fa fa-street-view fa-2x "></i> About</h2>
          <p class="lead">人の悩みは、対人関係</p>
          <ul>
            <p>アドラー心理学では、「人間の悩みは、全て対人関係の悩みである」といわれています。</p>
            <p>正しい対人関係を構築できれば、この世界は、幸せで満ちていることに気がつくでしょう。</p>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><i class="fa fa-laptop fa-2x "></i> Issue</h2>
          <p class="lead">オンラインでの対人関係の増加</p>
          <ul>
          <p>課題の背景は、ビジネスパーソンのリモート業務が増加したことです。</p>
          <p>オンラインでは、名刺交換や雑談や減り、コミュニケーションも変化しています。</p>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2><i class="fa fa-thumbs-up fa-2x "></i> Functions</h2>
          <p class="lead">お客様とオンラインで会話して、成長できる自分に</p>
          <ul>
            <p>お客様の情報をカードに記録し、社内で共有ができます。</p>
            <p>社員は自分の態度を振り返り記録して、傾聴力が向上します。</p>
          </ul>
        </div>
      </div>
    </div>
  </section>
    <% end %>
    <h5 class="display-5 text-center"><a href="/"><i class="far fa-address-card"></i>Re:lations TOP</a></h5>
    <footer class="py-1 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2020 Tatsuhiro Iwasaki</p>
    </div>
    </footer>
  </body>
</html>
